{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des catégories</h1>

    <a href="{{ path('category_new') }}">Nouvelle catégorie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a><br>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune catégorie ...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
